  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@300;400;700&display=swap');

  * {
      font-family: 'Poppins', sans-serif;
      box-sizing: border-box;
  }

  body {
      background: #007bff;
  }

  .start-btn,
  .info-box,
  .quiz-box,
  .result-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.3);
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
      transition: all 0.4s ease;
  }

  .visible {
      z-index: 5;
      opacity: 1 !important;
      pointer-events: auto !important;
      transform: translate(-50%, -50%) scale(1) !important;
  }

  .start-btn button {
      font-size: 25px;
      font-weight: 500;
      padding: 15px 30px;
      outline: none;
      border: none;
      color: #007bff;
      border-radius: 7px;
      background: #fff;
      cursor: pointer;
  }

  button {
      /* transition: 0.3s ease all; */
  }

  button:hover {
      filter: brightness(1.25);
  }

  button:active {
      transform: scale(0.98);
  }

  .info-box {
      width: 540px;
      background: #fff;
      border-radius: 7px;
      opacity: 0;
      pointer-events: none;
  }

  .info-box .info-title {
      height: 60px;
      width: 100%;
      border-bottom: 1px solid lightgrey;
      display: flex;
      align-items: center;
      padding: 0 35px;
      font-size: 20px;
      font-weight: 500;
  }

  .info-box .info-list {
      padding: 15px 35px 15px 50px;
  }

  .info-box .info-list .info {
      margin: 5px 0;
      font-size: 17px;
  }

  .info-box .info-list .info span {
      font-weight: 600;
      color: #007bff;
  }

  .info-box .buttons {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 35px;
      border-top: 1px solid lightgrey;
  }

  .info-box .buttons button {
      margin: 0 5px;
      height: 40px;
      width: 100px;
      border: 1px solid transparent;
      border-radius: 7px;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
  }

  /* .quit-quiz:hover {
      border: 1px solid #007bff;
      color: #007bff;
  } */

  .quiz-box {
      width: 550px;
      background: #fff;
      border-radius: 7px;
      opacity: 0;
      pointer-events: none;
      min-height: 90%;
  }

  .quiz-box header {
      position: relative;
      z-index: 99;
      height: 70px;
      padding: 0 30px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px 5px 0 0;
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  }

  .quiz-box header .title {
      font-size: 20px;
      font-weight: 600;
  }

  .quiz-box header .timer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 145px;
      height: 45px;
      background: #cce5ff;
      border: 1px solid #b8daff;
      border-radius: 7px;
      padding: 0 8px;
  }

  .quiz-box header .timer .timer-text {
      font-size: 17px;
      font-weight: 400;
      user-select: none;
  }

  .quiz-box header .timer .timer-sec {
      font-size: 18px;
      font-weight: 500;
      background: #343a40;
      height: 30px;
      width: 45px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      border-radius: 7px;
      border: 1px solid #343a40;
      user-select: none;
  }

  .quiz-box section {
      padding: 25px 30px 20px 30px;
      background: #fff;
  }

  .quiz-box section .question-text {
      font-size: 25px;
      font-weight: 600;
      user-select: none;
  }

  .quiz-box section .option-list {
      padding: 20px 0;
      display: block;
  }

  .quiz-box section .option-list .option {
      background: aliceblue;
      border: 1px solid #84c5fe;
      border-radius: 7px;
      margin-bottom: 15px;
      font-size: 17px;
      padding: 8px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: all 0.3s ease;
      user-select: none;
  }

  .quiz-box section .option-list .option:hover {
      color: #004085;
      background: #cce5ff;
      border-color: #b8daff;
  }

  .quiz-box section .option-list .option:last-child {
      margin-bottom: 0px !important;
  }

  .quiz-box section .option-list .option * {
      user-select: none;
  }

  section .option-list .option .icon {
      /* height: 35px;
      width: 35px; */
      text-align: center;
      font-size: 30px;
      line-height: 30px;
      pointer-events: none;
  }

  section .option-list .option .tick {
      color: #23903c;
  }

  section .option-list .option .cross {
      color: #a42834;
  }

  .quiz-box footer {
      height: 60px;
      width: 100%;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .quiz-box footer .total-questions span {
      display: flex;
      user-select: none;
      align-items: center;
  }

  .quiz-box footer .total-questions span p {
      font-weight: 500;
      padding: 0 5px;
  }

  .quiz-box footer .total-questions span p:first-child {
      padding-left: 0px;
  }

  footer .next-btn,
  .result-box .buttons .restart {
      height: 40px;
      padding: 0 13px;
      font-size: 18px;
      font-weight: 400;
      border: 1px solid #007bff;
      outline: none;
      color: #fff;
      background: #007bff;
      border-radius: 7px;
      cursor: pointer;
  }

  .result-box .buttons .quit-quiz {
      margin: 0 5px;
      height: 40px;
      width: 100px;
      border-radius: 7px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border: 1px solid #007bff;
  }

  .result-box .buttons button {
      width: max-content;
  }

  footer .next-btn i {
      padding-left: 10px;
      transition: transform 0.1s ease;
  }

  footer .next-btn:active i {
      transform: translate(5px, 0px);
  }

  .result-box {
      width: 450px;
      background: #fff;
      border-radius: 7px;
      padding: 25px 30px;
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      pointer-events: none;
  }

  .result-box .icon {
      font-size: 50px;
      color: goldenrod;
  }

  .result-box .complete-text {
      font-size: 20px;
      font-weight: 500;
  }

  .result-box .score-text {
      display: flex;
      margin: 10px 0;
      font-size: 18px;
      font-weight: 500;
  }

  .result-box .score-text p {
      font-weight: 600;
      padding: 0 4px;
  }

  .buttons button.quit-quiz {
      border-color: #007bff;
      color: #007bff;
  }

  .buttons button.restart {
      border-color: #007bff;
      color: #fff;
      background: #007bff;
  }

  footer {
      position: absolute;
      bottom: 0px;
  }